<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500-Internal Server Error</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/500.css" type="text/css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
    </header>
    <div class="container-500">
        <div class="message-500">
            <h2 id="title-404">500 - Error interno del servidor</h2>
            <h4>Se ha producido el siguiente error:  <%=message %><h4>
            <p>¡Nuestros ingenieros se están ocupando de ello!</p>
        </div>
        <img src="/img/500.gif" alt="gif error 500" id="gif">
    </div>
    

</html>