<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amigos y solicitudes de amistad</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <div class="links">
            <a href="">Perfil</a>
            <a href="../users/friends-page">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="../users/logout">Desconectar</a>
            <div class="user-header">
                <img src="/img/contact-img.png" alt="imagen de usuario" id="header-img">
                <span>50 pts</span>
            </div>
        </div>

    </header>
    <div class="container">
        <h2>¿Nintendo Switch,Ps4, o Xbox One?</h2>
        <h3>No has contestado a ninguna pregunta</h3>
        <a id='create-question-button'>Contestar preguntas</a>
        <p>Los siguientes amigos han contestado a esta pregunta:</p>
        <div class="stats">
            <div class="answer">
                <div class="user-profile">
                    <img src="/img/contact-img.png" alt="" class="result-picture">
                    <p>Paquita</p>
                </div>
                <div class="response">
                    <a class="guess-button">Adivinar</a>
                </div>
            </div>
            <div class="answer">
                <div class="user-profile">
                    <img src="/img/contact-img.png" alt="" class="result-picture">
                    <p>José</p>
                </div>
                <div class="response">
                    <a class="guess-button">Adivinar</a>
                </div>
            </div>
            <div class="answer">
                <div class="user-profile">
                    <img src="/img/contact-img.png" alt="" class="result-picture">
                    <p>Tomás</p>
                </div>
                <div class="response">
                    <p id='correct-answer'>Has acertado &#128523</p>
                </div>
            </div>
            <div class="answer">
                <div class="user-profile">
                    <img src="/img/contact-img.png" alt="" class="result-picture">
                    <p>Pepe</p>
                </div>
                <div class="response">
                    <p id='incorrect-answer'>Has fallado &#128534</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>