<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404-Not Found</title>
    <link rel="stylesheet" href="/css/404.css" type="text/css"> 
    <link rel="stylesheet" href="/css/style.css" type="text/css"></head>
<body>
    <header>
        <img src="/img/logo.png" alt="logo">
    </header>
    <div class="container-404">
        <div class="message">
            <h2 id="title-404">Ups, te has perdido!</h2>
            <h3>Parece que no podemos encontrar la página que estás buscando</h3>
            <h4>Código de error : 404</h4>
            <a href="/users/login">Volvamos a empezar</a>
        </div>
    </div>
    <img id="gif" src="/img/404.gif">
</body>
</html>