<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <div class="links">
            <a href="">Entrar</a>
            <a href="./new-user">Nuevo Usuario</a>
        </div>
    </header>

    <div class="container">
        <h2>Entrar</h2>
        <form method="POST" action="login" class="form-container">
            <div class="form-item">
                <input type="text" name="email" id="logIn-input" placeholder="Email" required>
            </div>
            <div class="form-item">
                <input type="password" name="password" id="logIn-input" placeholder="Password" required>
            </div>
            <input type="submit" class="button" id="form-button" value="Entrar">
        </form>
    </div>
    <%- include("flash") %>
</body>

</html>