* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 5%;
}

.contacts {
  display: flex;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: lightgrey;
}

.user-image {
  display: flex;
  flex-basis: 100px;
  padding: 2%;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  justify-content: center;
}

div.user-content p {
  font-size: 0.7em;
}

div.user-content h4:hover {
  color: red;
}

img {
  width: 60%;
  border-radius: 50%;
  cursor: pointer;
}

li {
  display: flex;
}

.divider {
  border-bottom: 1px solid grey;
}

.conversations {
  display: flex;
  flex-basis: 500px;
  flex-grow: 2;
  flex-shrink: 2;
  background: linear-gradient(rgba(17, 187, 187, 0.8), rgba(17, 187, 187, 0.8)),
    url("bla.png");
}
