* {
  font-family: "Open Sans";
}

body {
  background-color: #f4f4f4;
}

div {
  background-color: white;
  border: 2px solid #dddbdb77;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

img {
  margin-right: 7px;
  margin-bottom: -5px; /*Is this correct? I think i'm not using it correctly*/
}

a {
  font-size: 13px;
  margin-right: 5px;
  text-decoration: none;
  color: #1177d1;
}

.subject-head {
  padding-left: 15px;
  padding-bottom: 25px;
}

div.subject-head h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

#current {
  color: black;
}

.container {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
}

div.container h2 {
  font-weight: 400;
  margin-left: 20px;
}

div.container a {
  margin-left: 40px;
}

div.container h2 {
  margin-bottom: 13px;
  margin-top: 35px;
}


a[href$="pdf"]::before {
  content: url("pdf.png");
  margin-right: 5px;
}

a[href^="https://cv4.ucm.es"]::before {
  content: url("url.png");
  margin-right: 5px;
}

a[href^="https://docs.google.com"]::before {
  content: url("tarea.png");
  margin-right: 5px;
}

a[href="avisos.cv"]::before {
  content: url("avisos.png");
  margin-right: 5px;
}


