* {
    font-family: "Open Sans" ;
}

body {
    background-color: #f4f4f4
}

div {
    background-color: white;
    border: 2px solid #f4f4f4;
}

.subject-head {
    padding-left: 15px;
    padding-bottom: 25px;
}

div.subject-head h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

a {
    font-size: 13px;
    margin-right: 5px;
    text-decoration: none;
    color: #1177D1;
}

#current {
    color: black;
}

.container {
    margin-top: 20px;
}