<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/tasksPrint.css" media="print" />
    <link rel="stylesheet" href="/css/tasksScreen.css" media="screen" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/tasks.js"></script>
    <link rel="icon" href="/img/favicon.ico" />
    <title>Gestor de tareas</title>
</head>

<body>
    <header>
        <h1>TAREAS</h1>
        <div class="user">
            <img src="/imagenUsuario" alt="contact-image" />
            <div class="user-info">
                <p><%=userEmail %></p>
                <a href="/logout">DESCONECTAR</a>
            </div>
        </div>
    </header>
    <main>
        <div class="tasks-container">
            <% taskList.forEach(task => { %>
            <div class="task" <% if(task.done) {%>id="done" <%}%> >
                <h2>
                    <div id="taskText"><%=task.text %></div> <% task.tags.forEach(tag => { %> <span class="tag">
                <%=tag.replace(/_/g, ' ')%></span>
                <% }) %>
                </h2>
                <% if(task.done) %><a href="finish/<%=task.id%>" class="done-task-button">Marcar finalizada</a>
            </div>
            <%}) %>
            <form class="form-div" method="POST" action="addTask">
                <label for="taskName">Nombre de la tarea:</label>
                <input type="text" id="taskName" placeholder="Introduce nombre de la tarea..." />
                <label for="tags">Tags:</label>
                <div class="tags-container">
                    <input type="text" name="" id="tagName" placeholder="Introduce tag...">
                    <button id="addTag">Añadir tag</button>
                </div>
                <div class="task" id="preview">
                    <h2>
                        <div id="taskText"></div>
                    </h2>
                </div>
                <input type="hidden" id="taskDesc" name='taskDesc'>
                <input type="submit" id="add-task-button" value="AÑADIR">
            </form>
            <a id="remove-task-btn" href="deletedCompleted">ELIMINAR TAREAS COMPLETADAS</a>
        </div>
    </main>
</body>

</html>