<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1><%=first %> + <%= second %> = <%=result %></h1>
    <form action="primer.html" method="GET">
        <input type="submit" value="Volver">
    </form>
</body>
</html>