<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="encuesta.css">
</head>
<body>
    <h1> Resultados </h1>
    <table>
        <tr>
            <th>Respuesta</th>
            <th>Número de votos</th>
        </tr>
        <tr>
            <th>Rojo</th>
            <td><%=votations.rojo%></td>
        </tr>
        <tr>
            <th>Verde</th>
            <td><%=votations.verde%></td>
        </tr>
        <tr>
            <th>Azul</th>
            <td><%=votations.azul%></td>
        </tr>
        <tr>
            <th>Ninguno de los anteriores</th>
            <td><%=votations.ninguno%></td>
        </tr>
    </table>
</body>
</html>