<select name="categories" id="categories-select">
    <option value="default">Mostar todos</option>
    <option value="verdura">Verdura</option>
    <option value="fruta">Fruta</option>
    <option value="electrónica">Electrónica</option>
</select>