<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alta Usuario</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="logo">
        <div class="links">
            <a href="./login">Entrar</a>
            <a href="">Nuevo Usuario</a>
        </div>
    </header>
    <div class="container">
        <h2>Nuevo Usuario</h2>
        <% if(errors.length > 0) { %>
        <div class='login-error-msgs'>
            Hemos encontrado algunos errores:
            <ul>
                <% errors.forEach(error => { %>
                <li><%=error.msg %></li>
                <%})%>
            </ul>
        </div>
        <% } %>
        <form method="POST" action="new-user" class="form-container-new-user" enctype="multipart/form-data">
            <div class="email">
                <span>Email</span>
                <input type="text" name="email" class="input-new-user" required>
            </div>
            <div class="password">
                <span>Contraseña</span>
                <input type="password" name="pass" id="" class="input-new-user" required>
            </div>
            <div class="name">
                <span>Nombre completo</span>
                <input type="text" name="name" class="input-new-user" required>
            </div>
            <div class="gender">
                <span id='gender-span'>Sexo</span>
                <div class="gender-options">
                    <select name="gender" id="">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            </div>
            <div class="birth-date">
                <span>Fecha de Nacimiento</span>
                <input type="date" name="birth_date" id="" class="input-new-user" required>
            </div>
            <div class="img-profile">
                <span>Imagen de Perfil</span>
                <input type="file" name="profile_img" accept="image/*" id="" class="input-new-user">
            </div>
            <input type="submit" class="button" id='form-button' value="Conectar">
    </div>
    </div>
</body>

</html>